<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="tsf-tutcode (x86)"
    Version="$(env.VERSION)"
    Manufacturer="KIHARA Hideto"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500"
    UpgradeCode="31DA56FD-D180-4C9B-8F1E-AA935A0119B4">

    <SummaryInformation Description="tsf-tutcode (x86)" />

    <Media Id="1" Cabinet="x86.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- disable advertised shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- processor architecture -->
    <Property Id="ARCH_NAME">
      <RegistrySearch Id="REG_ARCH_X86"
        Root="HKLM"
        Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
        Name="PROCESSOR_ARCHITECTURE"
        Type="raw" />
    </Property>

    <StandardDirectory Id="SystemFolder">
      <Directory Id="IME_X86" Name="IME">
        <Directory Id="IMTSFTUTCODE_X86" Name="IMTSFTUTCODE" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="WindowsFolder">
      <Directory Id="IME_WIN" Name="IME">
        <Directory Id="IMTSFTUTCODE_WIN" Name="IMTSFTUTCODE" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="IMTSFTUTCODE_MENU" Name="tsf-tutcode" />
    </StandardDirectory>

    <DirectoryRef Id="IMTSFTUTCODE_X86">
      <Component Id="CNF_X86" Guid="*">
        <File Id="F_imtutcnf_x86" Name="imtutcnf.exe"
          Source="..\build\Win32\Release\imtutcnf.exe" KeyPath="yes">
          <Shortcut Id="S_imtutcnf_x86" Name="CONFIG"
            Directory="IMTSFTUTCODE_MENU" WorkingDirectory="IMTSFTUTCODE_X86"
            Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_imtutcnf_x86" Directory="IMTSFTUTCODE_MENU" On="uninstall" />
      </Component>
      <Component Id="MGR_X86" Guid="*">
        <File Id="F_imtutmgr_x86" Name="imtutmgr.exe"
          Source="..\build\Win32\Release\imtutmgr.exe" KeyPath="yes" />
      </Component>
      <Component Id="TIP_X86" Guid="*">
        <File Id="F_imtuttip_x86" Name="imtuttip.dll"
          Source="..\build\Win32\Release\imtuttip.dll" KeyPath="yes" SelfRegCost="1" />
      </Component>
      <Component Id="LUAEXE_X86" Guid="*">
        <File Id="F_luaexe_x86" Name="lua.exe"
          Source="..\build\Win32\Release\lua.exe" KeyPath="yes" />
      </Component>
      <Component Id="LUADLL_X86" Guid="*">
        <File Id="F_luadll_x86" Name="lua54.dll"
          Source="..\build\Win32\Release\lua54.dll" KeyPath="yes" />
      </Component>
      <Component Id="ZLIBDLL_X86" Guid="*">
        <File Id="F_zlibdll_x86" Name="zlib1.dll"
          Source="..\build\Win32\Release\zlib1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_X86">
      <Component Id="MSVCP140_X86" Guid="*">
        <File Id="F_msvcp140_x86" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)x86\Microsoft.VC143.CRT\msvcp140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_X86" Guid="*">
        <File Id="F_vcruntime140_x86" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)x86\Microsoft.VC143.CRT\vcruntime140.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_WIN">
      <Component Id="CONFIG_XML" Guid="*">
        <File Id="F_config_xml" Name="config.xml"
          Source="$(env.OutDir)\config.xml" KeyPath="yes" />
      </Component>
      <Component Id="INIT_LUA" Guid="*">
        <File Id="F_init_lua" Name="init.lua"
          Source="$(env.OutDir)\init.lua" KeyPath="yes" />
      </Component>
      <Component Id="SKKDICT_TXT" Guid="*">
        <File Id="F_skkdict_txt" Name="skkdict.txt"
          Source="$(env.OutDir)\skkdict.txt" KeyPath="yes" />
      </Component>
      <Component Id="README_HTML" Guid="*">
        <File Id="F_readme_html" Name="README.html"
          Source="$(env.OutDir)\README.html" KeyPath="yes">
          <Shortcut Id="S_readme_html" Name="README.html"
            Directory="IMTSFTUTCODE_MENU" WorkingDirectory="IMTSFTUTCODE_WIN"
            Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_readme_html" Directory="IMTSFTUTCODE_MENU" On="uninstall" />
      </Component>
      <Component Id="LICENSE_TXT" Guid="*">
        <File Id="F_license_txt" Name="LICENSE.txt"
          Source="$(env.OutDir)\LICENSE.txt" KeyPath="yes">
          <Shortcut Id="S_license_txt" Name="LICENSE.txt"
            Directory="IMTSFTUTCODE_MENU" WorkingDirectory="IMTSFTUTCODE_WIN"
            Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_license_txt" Directory="IMTSFTUTCODE_MENU" On="uninstall" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_X86">
      <Component Id="REG_X86" Guid="*"
        Condition="ARCH_NAME = &quot;x86&quot;">
        <!-- enabled autorun only on 32-bit Windows. -->
        <RegistryValue Id="R_run_x86" Action="write"
          Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Type="string"
          Name="imtutmgr" Value="&quot;[#F_imtutmgr_x86]&quot;" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_X86" />
      <ComponentRef Id="MGR_X86" />
      <ComponentRef Id="TIP_X86" />
      <ComponentRef Id="LUAEXE_X86" />
      <ComponentRef Id="LUADLL_X86" />
      <ComponentRef Id="ZLIBDLL_X86" />
      <ComponentRef Id="MSVCP140_X86" />
      <ComponentRef Id="VCRUNTIME140_X86" />
      <ComponentRef Id="CONFIG_XML" />
      <ComponentRef Id="INIT_LUA" />
      <ComponentRef Id="SKKDICT_TXT" />
      <ComponentRef Id="LICENSE_TXT" />
      <ComponentRef Id="README_HTML" />
      <ComponentRef Id="REG_X86" />
    </Feature>

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="theme-bundle\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="theme-bundle\dialog.bmp" />

    <Property Id="ARPPRODUCTICON" Value="IMTSFTUTCODE_ICO" />
    <Icon Id="IMTSFTUTCODE_ICO" SourceFile="..\imcrvtip\Icon\kanchoku.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
    </InstallExecuteSequence>

  </Package>

</Wix>
