<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include installer-version.wxi ?>

  <Product
    Id="*"
    Name="tsf-tutcode (ARM)"
    Version="$(var.version)"
    Manufacturer="KIHARA Hideto"
    Language="1033"
    UpgradeCode="1DEAEAC3-08A9-43DF-A9C2-EA4BE17A1415">

    <!-- replace template summary after building msi -->
    <!-- ex: msiinfo -p Arm64;1033 -->
    <Package
      Id="*"
      Compressed="yes"
      Description="tsf-tutcode (ARM)"
      Comments="ver. $(var.version)"
      Platform="x64"
      InstallerVersion="500"
      InstallScope="perMachine"
      InstallPrivileges="elevated" />

    <Media Id="1" Cabinet="arm.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- disable advertised shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- system directory -->
    <!-- ARM64 : %windir%\System32 -->
    <!-- ARM32 : %windir%\SysArm32 -->
    <!-- x86   : %windir%\SysWOW64 -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsFolder" Name="Windows">
        <Directory Id="SYSTEM64BIT" Name="System32">
          <Directory Id="IME_ARM64" Name="IME">
            <Directory Id="IMTSFTUTCODE_ARM64" Name="IMTSFTUTCODE" />
          </Directory>
        </Directory>
        <Directory Id="SYSTEM32BIT" Name="SysArm32">
          <Directory Id="IME_ARM32" Name="IME">
            <Directory Id="IMTSFTUTCODE_ARM32" Name="IMTSFTUTCODE" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="IMTSFTUTCODE_MENU" Name="tsf-tutcode" />
      </Directory>
    </Directory>

    <DirectoryRef Id="IMTSFTUTCODE_ARM64">
      <Component Id="CNF_ARM64" Guid="*" Win64="yes">
        <File Id="F_imtutcnf_arm64" Name="imtutcnf.exe" Source="..\ARM64\Release\imtutcnf.exe" KeyPath="yes">
          <!-- overwrite x86 shortcut -->
          <Shortcut Id="S_imtutcnf_arm64" Name="CONFIG" Directory="IMTSFTUTCODE_MENU"
            WorkingDirectory="IMTSFTUTCODE_WIN" Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_imtutcnf_arm64" Directory="IMTSFTUTCODE_MENU" On="uninstall" />
      </Component>
      <Component Id="MGR_ARM64" Guid="*" Win64="yes">
        <File Id="F_imtutmgr_arm64" Name="imtutmgr.exe" Source="..\ARM64\Release\imtutmgr.exe" KeyPath="yes" />
      </Component>
      <Component Id="TIP_ARM64" Guid="*" Win64="yes">
        <!-- ARM64EC -->
        <File Id="F_imcrvtip_arm64" Name="imcrvtip.dll" Source="..\ARM64EC\Release\imcrvtip.dll" KeyPath="yes" SelfRegCost="1" />
      </Component>
      <Component Id="LUAEXE_ARM64" Guid="*" Win64="yes">
        <File Id="F_luaexe_arm64" Name="lua.exe" Source="..\ARM64\Release\lua.exe" KeyPath="yes" />
      </Component>
      <Component Id="LUADLL_ARM64" Guid="*" Win64="yes">
        <File Id="F_luadll_arm64" Name="lua54.dll" Source="..\ARM64\Release\lua54.dll" KeyPath="yes" />
      </Component>
      <Component Id="ZLIBDLL_ARM64" Guid="*" Win64="yes">
        <File Id="F_zlibdll_ARM64" Name="zlib1.dll" Source="..\ARM64\Release\zlib1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_ARM64">
      <Component Id="MSVCP140_ARM64" Guid="*" Win64="yes">
        <File Id="F_msvcp140_arm64" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC142.CRT\msvcp140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_ARM64" Guid="*" Win64="yes">
        <File Id="F_vcruntime140_arm64" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC142.CRT\vcruntime140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_1_ARM64" Guid="607AA8F2-0D79-4E95-892E-4A1C22588A0F" Win64="yes">
        <File Id="F_vcruntime140_1_arm64" Name="vcruntime140_1.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC142.CRT\vcruntime140_1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- TIP only for ARM32 -->
    <DirectoryRef Id="IMTSFTUTCODE_ARM32">
      <Component Id="TIP_ARM32" Guid="*">
        <!-- self registration arm32 dll fails. use regsvr32 command in custom action. -->
        <File Id="F_imtuttip_arm32" Name="imtuttip.dll" Source="..\ARM\Release\imtuttip.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Component Id="REG_ARM64" Guid="*" Directory="TARGETDIR" Win64="yes">
      <RegistryValue Id="RV_run_arm64" Action="write"
        Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
        Type="string" Name="imtutmgr" Value="&quot;[#F_imtutmgr_arm64]&quot;" KeyPath="yes" />
    </Component>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_ARM64" />
      <ComponentRef Id="MGR_ARM64" />
      <ComponentRef Id="TIP_ARM64" />
      <ComponentRef Id="LUAEXE_ARM64" />
      <ComponentRef Id="LUADLL_ARM64" />
      <ComponentRef Id="ZLIBDLL_ARM64" />
      <ComponentRef Id="MSVCP140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_1_ARM64" />
      <ComponentRef Id="TIP_ARM32" />
      <ComponentRef Id="REG_ARM64" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="theme-bundle\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="theme-bundle\dialog.bmp" />

    <Property Id="ARPPRODUCTICON" Value="IMTSFTUTCODE_ICO" />
    <Icon Id="IMTSFTUTCODE_ICO" SourceFile="..\imtuttip\Icon\kanchoku.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <CustomAction Id="REGARM32DLL"
      Directory="IMTSFTUTCODE_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s [#F_imtuttip_arm32]" />
    <CustomAction Id="UNREGARM32DLL"
      Directory="IMTSFTUTCODE_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s /u [#F_imtuttip_arm32]" />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
      <Custom Action="UNREGARM32DLL" Before="RemoveFiles">Installed</Custom>
      <Custom Action="REGARM32DLL" After="InstallFiles">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Condition Message="This application does not support this version of Windows.">
      <![CDATA[VersionNT >= 603]]>
    </Condition>

  </Product>

</Wix>
