<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include installer-version.wxi ?>

  <Product
    Id="*"
    Name="tsf-tutcode (x64)"
    Version="$(var.version)"
    Manufacturer="nathancorvussolis"
    Language="1033"
    UpgradeCode="8EC1F2D0-BE94-43E6-9C74-6CA6ADA9737E">

    <Package
      Id="*"
      Compressed="yes"
      Description="tsf-tutcode (x64)"
      Comments="ver. $(var.version)"
      Platform="x64"
      InstallerVersion="405"
      InstallScope="perMachine"
      InstallPrivileges="elevated" />

    <Media Id="1" Cabinet="x64.cab" CompressionLevel="high" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="System64Folder" Name="System64">
        <Directory Id="IME_X64" Name="IME">
          <Directory Id="IMTSFTUTCODE_X64" Name="IMTSFTUTCODE" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="IMTSFTUTCODE_X64">
      <Component Id="CNF_X64" Guid="*" Win64="yes">
        <File Id="F_imtutcnf_x64" Name="imtutcnf.exe" Source="..\x64\Release\imtutcnf.exe" />
      </Component>
      <Component Id="MGR_X64" Guid="*" Win64="yes">
        <File Id="F_imtutmgr_x64" Name="imtutmgr.exe" Source="..\x64\Release\imtutmgr.exe" />
      </Component>
      <Component Id="TIP_X64" Guid="*" Win64="yes">
        <File Id="F_imtuttip_x64" Name="imtuttip.dll" Source="..\x64\Release\imtuttip.dll" SelfRegCost="1" />
      </Component>
      <Component Id="LUAEXE_X64" Guid="*" Win64="yes">
        <File Id="F_luaexe_x64" Name="lua.exe" Source="..\x64\Release\lua.exe" />
      </Component>
      <Component Id="LUADLL_X64" Guid="*" Win64="yes">
        <File Id="F_luadll_x64" Name="lua53.dll" Source="..\x64\Release\lua53.dll" />
      </Component>
    </DirectoryRef>

    <Component Id="REG_X64" Guid="*" Directory="TARGETDIR" Win64="yes">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
        <RegistryValue Action="write" Type="string" Name="imtutmgr"
          Value="&quot;[%SystemRoot]\System32\IME\IMTSFTUTCODE\imtutmgr.exe&quot;" />
      </RegistryKey>
    </Component>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_X64" />
      <ComponentRef Id="MGR_X64" />
      <ComponentRef Id="TIP_X64" />
      <ComponentRef Id="LUAEXE_X64" />
      <ComponentRef Id="LUADLL_X64" />
      <ComponentRef Id="REG_X64" />
    </Feature>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="CRT_X64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CRT_x64.msm" />
      <Merge Id="AMP_X64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CXXAMP_x64.msm" />
      <Merge Id="OMP_X64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_OpenMP_x64.msm" />
    </DirectoryRef>
    <Feature Id="VCRedist" Title="Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="CRT_X64" />
      <MergeRef Id="AMP_X64" />
      <MergeRef Id="OMP_X64" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="IMTSFTUTCODE_ICO" />
    <Icon Id="IMTSFTUTCODE_ICO" SourceFile="..\imcrvtip\Icon\kanchoku.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
    </InstallExecuteSequence>

    <Condition Message="This application does not support this version of Windows.">
      <![CDATA[VersionNT64 >= 600]]>
    </Condition>

  </Product>

</Wix>
