<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package
    Name="tsf-tutcode (ARM64)"
    Version="$(env.VERSION)"
    Manufacturer="KIHARA Hideto"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500"
    UpgradeCode="1DEAEAC3-08A9-43DF-A9C2-EA4BE17A1415">

    <SummaryInformation Description="tsf-tutcode (ARM64)" />

    <Media Id="1" Cabinet="arm64.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- disable advertised shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <StandardDirectory Id="System64Folder">
      <Directory Id="IME_ARM64" Name="IME">
        <Directory Id="IMTSFTUTCODE_ARM64" Name="IMTSFTUTCODE" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="IMTSFTUTCODE_MENU" Name="tsf-tutcode" />
    </StandardDirectory>

    <DirectoryRef Id="IMTSFTUTCODE_ARM64">
      <Component Id="CNF_ARM64" Guid="*">
        <File Id="F_imtutcnf_arm64" Name="imtutcnf.exe"
          Source="..\build\ARM64\Release\imtutcnf.exe" KeyPath="yes">
          <!-- overwrite x86 shortcut -->
          <Shortcut Id="S_imtutcnf_arm64" Name="CONFIG"
            Directory="IMTSFTUTCODE_MENU" WorkingDirectory="IMTSFTUTCODE_ARM64"
            Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_imtutcnf_arm64" Directory="IMTSFTUTCODE_MENU" On="uninstall" />
      </Component>
      <Component Id="MGR_ARM64" Guid="*">
        <File Id="F_imtutmgr_arm64" Name="imtutmgr.exe"
          Source="..\build\ARM64\Release\imtutmgr.exe" KeyPath="yes" />
      </Component>
      <Component Id="TIP_ARM64" Guid="*">
        <!-- ARM64EC -->
        <File Id="F_imcrvtip_arm64" Name="imcrvtip.dll"
          Source="..\build\ARM64EC\Release\imcrvtip.dll" KeyPath="yes" SelfRegCost="1" />
      </Component>
      <Component Id="LUAEXE_ARM64" Guid="*">
        <File Id="F_luaexe_arm64" Name="lua.exe"
          Source="..\build\ARM64\Release\lua.exe" KeyPath="yes" />
      </Component>
      <Component Id="LUADLL_ARM64" Guid="*">
        <File Id="F_luadll_arm64" Name="lua54.dll"
          Source="..\build\ARM64\Release\lua54.dll" KeyPath="yes" />
      </Component>
      <Component Id="ZLIBDLL_ARM64" Guid="*">
        <File Id="F_zlibdll_arm64" Name="zlib1.dll"
          Source="..\build\ARM64\Release\zlib1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_ARM64">
      <Component Id="MSVCP140_ARM64" Guid="*">
        <File Id="F_msvcp140_arm64" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\msvcp140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_ARM64" Guid="*">
        <File Id="F_vcruntime140_arm64" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\vcruntime140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_1_ARM64" Guid="607AA8F2-0D79-4E95-892E-4A1C22588A0F">
        <File Id="F_vcruntime140_1_arm64" Name="vcruntime140_1.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\vcruntime140_1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMTSFTUTCODE_ARM64">
      <Component Id="REG_ARM64" Guid="*">
        <RegistryValue Id="R_run_arm64" Action="write"
          Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Type="string"
          Name="imtutmgr" Value="&quot;[#F_imtutmgr_arm64]&quot;" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_ARM64" />
      <ComponentRef Id="MGR_ARM64" />
      <ComponentRef Id="TIP_ARM64" />
      <ComponentRef Id="LUAEXE_ARM64" />
      <ComponentRef Id="LUADLL_ARM64" />
      <ComponentRef Id="ZLIBDLL_ARM64" />
      <ComponentRef Id="MSVCP140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_1_ARM64" />
      <ComponentRef Id="REG_ARM64" />
    </Feature>

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="theme-bundle\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="theme-bundle\dialog.bmp" />

    <Property Id="ARPPRODUCTICON" Value="IMTSFTUTCODE_ICO" />
    <Icon Id="IMTSFTUTCODE_ICO" SourceFile="..\imcrvtip\Icon\kanchoku.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
    </InstallExecuteSequence>

  </Package>

</Wix>
